{% extends 'website/main.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand"><img src="{% static '/website/img/nfh.png' %}" style="width:100px">Namita's Fitness Hub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> MENU
      </button>
      <div class="collapse navbar-collapse " id="ftco-nav">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item"><a href="{% url 'home-page' %}" class="nav-link">HOME</a></li>
          <li class="nav-item"><a href="{% url 'highlight-page' %}" class="nav-link">WHYNFH?</a></li>
          <li class="nav-item"><a href="{% url 'achievements-page' %}" class="nav-link">EXPERT</a></li>
          <li class="nav-item dropdown ">
            <a href="{% url 'home-page' %}#programs" class="nav-link">
              <span>PROGRAMS</span></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="margin: -5px;">
              <a class="dropdown-item" href="{% url 'anniversarys-page' %}">ANNIVERSARIES </a>
  
              <a class="dropdown-item" href="{% url 'events-page' %}">EVENTS</a>
  
  
  
              <a class="dropdown-item" href="{% url 'socials-page' %}">SOCIAL CAUSE</a>
            </div>
          </li>
          <li class="nav-item active"><a href="{% url 'exercises-page' %}" class="nav-link">EXERCISES</a></li>
          <li class="nav-item"><a href="{% url 'testimonials-page' %}" class="nav-link">TESTIMONIALS</a></li>
  
          {% if user.is_authenticated%}
        <li class="nav-item"><a href="{% url 'logout-page' %}" class="nav-link">LOGOUT</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'login-page' %}" class="nav-link">LOGIN</a></li>
        {% endif %}
  
          <li class="nav-item"><a href="{% url 'home-page' %}#contact-section" class="nav-link">CONTACT</a></li>
          <li class="nav-item"><a href="{% url 'payment-page' %}" class="nav-link">PAY</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- END nav  -->

    <section class="hero-wrap hero-wrap-2" style="background-color:#dc3545">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">




		
          <div class="col-md-9 ftco-animate pb-5">
            <h1 class="mb-0 bread">Exercise Programs</h1>
          </div>
        </div>
      </div>
    </section>
		
      <!-- Featured Section Begin -->
      <section class="featured spad">
        <div class="container">
         
            <div class="row featured__filter">
              {% for Exercise in Exercises %}
                <div class="col-lg-3 col-md-4 col-sm-6 ">
                  <div class="featured__item">
                    <a href="{% url 'exercises-detail-page' %}?page={{ forloop.counter }}">
                      <div class="featured__item__pic set-bg" style="background-image: url({{ Exercise.image.url }});">
                        </div>
                    </a>
                      <div class="featured__item__text">
                          <h6><a href="{{ Exercise.video_link }}">{{ Exercise.name }}</a></h6>
                      </div>
                  </div>
                </div>
              {% endfor %}
                
    </section>
    {% endblock %}