{% extends 'website/main.html' %}
{% load static %}
{% block content %}
<style>
    #messages {
        background-color: grey;
        color: #fff;
        padding: 10px;
        margin-top: 10px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand"><img src="{% static '/website/img/nfh.png' %}" style="width:100px">Namita's Fitness
            Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> MENU
        </button>
        <div class="collapse navbar-collapse " id="ftco-nav">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item"><a href="{% url 'home-page' %}" class="nav-link">HOME</a></li>
                <li class="nav-item"><a href="{% url 'highlight-page' %}" class="nav-link">WHYNFH?</a></li>
                <li class="nav-item"><a href="{% url 'achievements-page' %}" class="nav-link">EXPERT</a></li>
                <li class="nav-item dropdown ">
                    <a href="{% url 'home-page' %}#programs" class="nav-link">
                        <span>PROGRAMS</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="margin: -5px;">
                        <a class="dropdown-item" href="{% url 'anniversarys-page' %}">ANNIVERSARIES </a>

                        <a class="dropdown-item" href="{% url 'events-page' %}">EVENTS</a>



                        <a class="dropdown-item" href="{% url 'socials-page' %}">SOCIAL CAUSE</a>
                    </div>
                </li>
                <li class="nav-item "><a href="{% url 'exercises-page' %}" class="nav-link">EXERCISES</a></li>
                <li class="nav-item"><a href="{% url 'testimonials-page' %}" class="nav-link">TESTIMONIALS</a></li>

                {% if user.is_authenticated%}
                <li class="nav-item"><a href="{% url 'logout-page' %}" class="nav-link">LOGOUT</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'login-page' %}" class="nav-link">LOGIN</a></li>
                {% endif %}

                <li class="nav-item"><a href="{% url 'home-page' %}#contact-section" class="nav-link">CONTACT</a></li>
                <li class="nav-item"><a href="{% url 'payment-page' %}" class="nav-link">PAY</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav  -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Forget Password</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="group-input">
                            <label for="password1"> New Password *</label>
                            <input type="password" id="password1" name='password1' required>
                        </div>
                        <div class="group-input">
                            <label for="username"> Confirm Password *</label>
                            <input type="password" id="password2" name="password2" required>
                        </div>
                        {% for message in messages %}
                        <!-- <p id='messages'>{{ message }}</p> -->
                        <script>alert('{{ message }}')</script>
                        {% endfor %}
                        <button type="submit" class="site-btn login-btn  " data-toggle="modal"
                            data-target="#myModal ">Reset Password</button>

                    </form><br>
                    <!-- <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                            
                              Modal content
                              <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Sent</h4>
                                    <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                                 
                                </div>
                                <div class="modal-body">
                                  <p>Please check your email-id for the password</p>
                                </div>
                               
                              </div>
                              
                            </div>
                          </div>
                        <div class="switch-login text-center">
                            <a href="./login.html" class="or-login">Login</a>
                            OR 
                            <a href="./register.html" class="or-login">Create An Account</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->


    {% endblock %}