{% extends 'admin_view/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
	.pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
	<div class="col-lg-10" style='margin: auto;'>
		<div class="card card-body">
			<h5>Add Notice</h5>
			<hr>
			<form method="POST" class="form-horizontal" action="" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group">
                    <label class="col-sm-2 control-label"><strong>Notice</strong></label>
                    <div class="col-sm-8">
                      {{ form.notice }}
                    </div>
                </div>
				<!-- {{form|crispy}} -->
			<br>
			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>
		</div>
	</div>
</div>
<script>
    $(function() {
      $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2012",
        // You can put more options here.
  
      });
    });
    </script>
{% endblock %}