{% extends 'admin_view/main.html' %}
{% block content %}
    <!--overview start-->

    <div class="row">
        <div class="col-md-10" style='margin:0 auto '>
            
            <div class="card card-body">
                <h5>Notices</h5>
                <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'add-notice-page' %}">Add Notice</a>
                <hr>    
                <table class="table table-sm">
                    <tr>
                        <th>Notice</th>
                    </tr>
                    {% for n in notice %}
                        <tr>
                            <td style="width:70%">{{n.notice}}</td>
                            <td>
                                <a class="btn btn-sm btn-info" href="{% url 'update-notice-page' pk=n.id %}">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" href="{% url 'delete-notice-page' pk=n.id %}">
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}